name: Publish packages to AUR
on:
  push:
  workflow_dispatch:
jobs:
  publish_to_aur_git:
    strategy:
      fail-fast: false
      matrix:
        repo: [python-cyaron-git, python-xeger-git, python-dnsstamps-git, python-accesser-git]
    name: publish to aur
    runs-on: ubuntu-latest
    container: archlinux
    steps:
      - name: Install depends
        run: pacman -Syu --noconfirm --needed --overwrite '*' openssh sudo base-devel git fakeroot binutils gcc awk binutils xz libarchive bzip2 coreutils file findutils gettext grep gzip sed ncurses util-linux pacman-contrib debugedit
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: 'PKGBUILD'
      - name: Get the latest commit message\
        id: MSG
        run: |
          cd PKGBUILD
          echo "commit_msg=$(git log -1 --format='%s' -- ${{matrix.repo}}/)" >> "$GITHUB_OUTPUT"
          cd ..
      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v3.0.1
        with:
          pkgname: ${{matrix.repo}}
          test: false
          updpkgsums: false
          commit_username: "github-actions[bot]"
          commit_email: "41898282+github-actions[bot]@users.noreply.github.com"
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{steps.MSG.outputs.commit_msg}}
          allow_empty_commits: false
          pkgbuild: PKGBUILD/${{matrix.repo}}/PKGBUILD
  publish_to_aur:
    strategy:
      fail-fast: false
      matrix:
        repo: [python-cyaron, python-xeger-bin, python-dnsstamps, ac-library]
    name: publish to aur
    runs-on: ubuntu-latest
    container: archlinux
    steps:
      - name: Install depends
        run: pacman -Syu --noconfirm --needed --overwrite '*' openssh sudo base-devel git fakeroot binutils gcc awk binutils xz libarchive bzip2 coreutils file findutils gettext grep gzip sed ncurses util-linux pacman-contrib debugedit
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: 'PKGBUILD'
      - name: Cat PKGBUILD
        run: cat PKGBUILD/${{matrix.repo}}/PKGBUILD
      - name: Get the latest commit message\
        id: MSG
        run: |
          cd PKGBUILD
          echo "commit_msg=$(git log -1 --format='%s' -- ${{matrix.repo}}/)" >> "$GITHUB_OUTPUT"
          cd ..
      - name: Get pkgver
        id: pkgver
        run: |
          cd PKGBUILD
          curl https://aur.archlinux.org/cgit/aur.git/plain/PKGBUILD?h=${{matrix.repo}} -o PKGBUILD.old
          eval $(cat PKGBUILD.old | grep pkgver=)
          eval $(cat PKGBUILD.old | grep pkgrel=)
          ver_old=$pkgver-$pkgrel
          eval $(cat ${{matrix.repo}}/PKGBUILD | grep pkgver=)
          eval $(cat ${{matrix.repo}}/PKGBUILD | grep pkgrel=)
          ver_new=$pkgver-$pkgrel
          echo need_rebuild=$(vercmp $ver_old $ver_new) >> $GITHUB_OUTPUT
          cd ..
      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v3.0.1
        with:
          pkgname: ${{matrix.repo}}
          test: false
          updpkgsums: false
          commit_username: "github-actions[bot]"
          commit_email: "41898282+github-actions[bot]@users.noreply.github.com"
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{steps.MSG.outputs.commit_msg}}
          allow_empty_commits: false
          pkgbuild: PKGBUILD/${{matrix.repo}}/PKGBUILD
      - uses: actions/checkout@v4
        with:
          repository: 'vifly/arch-build'
        if: steps.pkgver.outputs.need_rebuild != 0
      - uses: ./build-aur-action
        with:
          repo-name: ${{ matrix.repo }}
        if: steps.pkgver.outputs.need_rebuild != 0
      - uses: actions/upload-artifact@v4
        with:
          path: ./*/*.pkg.tar.zst
          name: ${{ matrix.repo }}
          if-no-files-found: error
        if: steps.pkgver.outputs.need_rebuild != 0
  publish_to_aur_accesser:
    strategy:
      fail-fast: false
      matrix:
        repo: [python-accesser]
    name: publish to aur
    runs-on: ubuntu-latest
    container: archlinux
    steps:
      - name: Install depends
        run: pacman -Syu --noconfirm --needed --overwrite '*' openssh sudo base-devel git fakeroot binutils gcc awk binutils xz libarchive bzip2 coreutils file findutils gettext grep gzip sed ncurses util-linux pacman-contrib debugedit
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: 'PKGBUILD'
      - name: Cat PKGBUILD
        run: cat PKGBUILD/${{matrix.repo}}/PKGBUILD
      - name: Get the latest commit message\
        id: MSG
        run: |
          cd PKGBUILD
          echo "commit_msg=$(git log -1 --format='%s' -- ${{matrix.repo}}/)" >> "$GITHUB_OUTPUT"
          cd ..
      - name: Get pkgver
        id: pkgver
        run: |
          cd PKGBUILD
          curl https://aur.archlinux.org/cgit/aur.git/plain/PKGBUILD?h=${{matrix.repo}} -o PKGBUILD.old
          eval $(cat PKGBUILD.old | grep pkgver=)
          eval $(cat PKGBUILD.old | grep pkgrel=)
          ver_old=$pkgver-$pkgrel
          eval $(cat ${{matrix.repo}}/PKGBUILD | grep pkgver=)
          eval $(cat ${{matrix.repo}}/PKGBUILD | grep pkgrel=)
          ver_new=$pkgver-$pkgrel
          echo need_rebuild=$(vercmp $ver_old $ver_new) >> $GITHUB_OUTPUT
          cd ..
      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v3.0.1
        with:
          pkgname: ${{matrix.repo}}
          test: false
          updpkgsums: false
          commit_username: "github-actions[bot]"
          commit_email: "41898282+github-actions[bot]@users.noreply.github.com"
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{steps.MSG.outputs.commit_msg}}
          allow_empty_commits: false
          pkgbuild: PKGBUILD/${{matrix.repo}}/PKGBUILD
          assets: |
            PKGBUILD/${{matrix.repo}}/accesser.service
            PKGBUILD/${{matrix.repo}}/${{matrix.repo}}.install
      - uses: actions/checkout@v4
        with:
          repository: 'vifly/arch-build'
        if: steps.pkgver.outputs.need_rebuild != 0
      - uses: ./build-aur-action
        with:
          repo-name: ${{ matrix.repo }}
        if: steps.pkgver.outputs.need_rebuild != 0
      - uses: actions/upload-artifact@v4
        with:
          path: ./*/*.pkg.tar.zst
          name: ${{ matrix.repo }}
          if-no-files-found: error
        if: steps.pkgver.outputs.need_rebuild != 0
  create_database:
    runs-on: ubuntu-latest
    if: always()
    needs: [publish_to_aur, publish_to_aur_accesser]
    outputs:
      need_upload: ${{steps.check.outputs.need_upload}}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'Sving1024/arch-repo'
          ref: 'dev'
      - uses: actions/download-artifact@v4
        id: download
        with:
          path: packages
      - name: check
        id: check
        run: |
          if [ "$(find ./ -type f -name "*.tar.zst")" == "" ]; then
            echo "need_upload=0" >> $GITHUB_OUTPUT
            echo "need_upload=0"
          else
            echo "need_upload=1" >> $GITHUB_OUTPUT
            echo "need_upload=1"
          fi
      - name: Display structure of downloaded files
        if: steps.check.outputs.need_upload == 1
        run: ls -R ${{ steps.download.outputs.download-path }}
      - name: Setup Rclone
        if: steps.check.outputs.need_upload == 1
        uses: AnimMouse/setup-rclone@v1.12.0
        with:
          rclone_config: ${{secrets.RCLONE_CONFIG_BASE64}}
      - name: Download existing database
        if: steps.check.outputs.need_upload == 1
        run: |
          mkdir dest_repo
          rclone copy r2:/repo/archlinux/ ./dest_repo/  --create-empty-src-dirs
      - uses: ./create-db
        if: steps.check.outputs.need_upload == 1
        with:
          repo_name: archlinux-sving1024
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          package_path: ${{ steps.download.outputs.download-path }}
          output_path: src_repo
      - uses: ./sync-db
        if: steps.check.outputs.need_upload == 1
        with:
          src_repo_path: src_repo
          dest_repo_path: dest_repo
          output_path: new_packages
      - uses: ./create-db
        if: steps.check.outputs.need_upload == 1
        with:
          repo_name: archlinux-sving1024
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          package_path: new_packages
          output_path: database
      - name: Upload database artifact
        if: steps.check.outputs.need_upload == 1
        uses: actions/upload-artifact@v4
        with:
          name: database
          path: database
  uploadToRemote:
    strategy:
      fail-fast: false
      matrix:
        remote: [onedrive, r2]
    runs-on: ubuntu-latest
    needs: [create_database]
    if: needs.create_database.outputs.need_upload == 1 && always()
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'Sving1024/arch-repo'
      - uses: actions/download-artifact@v4
        id: download
        with:
          name: database
      - name: Display structure of downloaded files
        run: ls -R ${{ steps.download.outputs.download-path }}
      - uses: ./upload
        with:
          RCLONE_CONFIG_CONTENT: ${{secrets.RCLONE_CONFIG}}
          RCLONE_CONFIG_NAME: ${{matrix.remote}}
          dest_path: /repo/archlinux/
          repo_name: archlinux-sving1024
          local_path: ${{ steps.download.outputs.download-path }}
