name: Rebuild All Packages.
on:
  workflow_dispatch:
jobs:
  rebuild:
    strategy:
      fail-fast: false
      matrix:
        repo: [python-cyaron,  python-xeger-bin,  python-dnsstamps, python-accesser, ac-library]
    name: Rebuild
    runs-on: ubuntu-latest
    container: archlinux
    steps:
      - name: Install depends
        run: pacman -Syu --noconfirm --needed --overwrite '*' openssh sudo base-devel git fakeroot binutils gcc awk binutils xz libarchive bzip2 coreutils file findutils gettext grep gzip sed ncurses util-linux pacman-contrib debugedit
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: 'PKGBUILD'
      - name: Cat PKGBUILD
        run: cat PKGBUILD/${{matrix.repo}}/PKGBUILD
      - name: Get the latest commit message\
        id: MSG
        run: |
          cd PKGBUILD
          echo "commit_msg=$(git log -1 --format='%s' -- ${{matrix.repo}}/)" >> "$GITHUB_OUTPUT"
          cd ..
      - uses: actions/checkout@v4
        with:
          repository: 'vifly/arch-build'
      - uses: ./build-aur-action
        with:
          repo-name: ${{ matrix.repo }}
      - uses: actions/upload-artifact@v4
        with:
          path: ./*/*.pkg.tar.zst
          name: ${{ matrix.repo }}
          if-no-files-found: error
  create_database:
    runs-on: ubuntu-latest
    if: always()
    needs: [rebuild]
    outputs:
      need_upload: ${{steps.check.outputs.need_upload}}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'Sving1024/arch-repo'
          ref: 'debug'
      - uses: actions/download-artifact@v4
        id: download
        with:
          path: packages
      - name: check
        id: check
        run: |
          if [ "$(find ./ -type f -name "*.tar.zst")" == "" ]; then
            echo "need_upload=0" >> $GITHUB_OUTPUT
            echo "need_upload=0"
          else
            echo "need_upload=1" >> $GITHUB_OUTPUT
            echo "need_upload=1"
          fi
      - name: Display structure of downloaded files
        if: steps.check.outputs.need_upload == 1
        run: ls -R ${{ steps.download.outputs.download-path }}
      - name: Setup Rclone
        if: steps.check.outputs.need_upload == 1
        uses: AnimMouse/setup-rclone@v1.12.0
        with:
          rclone_config: ${{secrets.RCLONE_CONFIG_BASE64}}
      - name: Download existing database
        if: steps.check.outputs.need_upload == 1
        run: |
          mkdir dest_repo
          rclone copy r2:/repo/archlinux/ ./dest_repo/  --create-empty-src-dirs
      - uses: ./create-db
        if: steps.check.outputs.need_upload == 1
        with:
          repo_name: archlinux-sving1024
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          package_path: ${{ steps.download.outputs.download-path }}
          output_path: src_repo
      - name: removed gpg private file
        if: steps.check.outputs.need_upload == 1
        run: |
          ls -laZ /github/home/
          rm -rf /github/home/.gnupg
          ls -laZ /github/home/
      - uses: ./sync-db
        if: steps.check.outputs.need_upload == 1
        with:
          src_repo_path: src_repo
          dest_repo_path: dest_repo
          repo_name: archlinux-sving1024
          output_path: database
          gpg-privatekey: ${{ secrets.gpg_private_key }}

      - name: Upload database artifact
        if: steps.check.outputs.need_upload == 1
        uses: actions/upload-artifact@v4
        with:
          name: database
          path: database
  uploadToRemote:
    strategy:
      fail-fast: false
      matrix:
        remote: [onedrive, r2]
    runs-on: ubuntu-latest
    needs: [create_database]
    if: needs.create_database.outputs.need_upload == 1 && always()
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'Sving1024/arch-repo'
          ref: 'dev'
      - uses: actions/download-artifact@v4
        id: download
        with:
          name: database
      - name: Display structure of downloaded files
        run: ls -R ${{ steps.download.outputs.download-path }}
      - uses: ./upload
        with:
          RCLONE_CONFIG_CONTENT: ${{secrets.RCLONE_CONFIG}}
          RCLONE_CONFIG_NAME: ${{matrix.remote}}
          dest_path: /repo/archlinux/
          repo_name: archlinux-sving1024
          local_path: ${{ steps.download.outputs.download-path }}
